*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI',
    'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.7;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.3125rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav__logo {
  font-size: 1.75rem;
  font-weight: 300;
}

.nav__list {
  display: flex;
  gap: 1.25rem;
}

.nav__link {
  white-space: nowrap;
}

.nav__link:hover {
  font-weight: 500;
  transition: all 0.2s;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  position: relative;
  color: white;
}

.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

.hero__title {
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
}

.state-facts {
  flex: 0.25;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.state-facts__title {
  margin-bottom: 1rem;
}

.state-facts__link,
.state-climate__citation-link,
.city__citation-link {
  text-decoration: underline !important;
}

.main {
  flex: 0.75;
}

.state-information {
  padding-block: 1.5rem;
  padding-inline: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.state-information__title {
  text-align: center;
  margin-bottom: 1rem;
}

.state-information__description {
  font-weight: 300;
  overflow: hidden;
  max-width: 60ch;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.state-information__subtitle {
  text-align: center;
  margin-bottom: 1rem;
}

.state-information__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.state-information__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
}

.state-information__link:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.contact {
  padding-block: 1.5rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact__input:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contact__input-label {
  color: rgba(0, 0, 0, 0.7);
  /* margi */
}

.contact__input-field {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
}

.climate {
  flex: 0.25;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 2rem;
}

.city__title {
  text-align: center;
  margin-bottom: 1rem;
}

.city__facts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.city__citation {
  color: #777;
}

.city__citation-link {
  text-decoration: underline;
}

#submit {
  cursor: pointer;
  float: right;
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  background: lightgreen;
}

#submit:hover {
  background: green;
  color: white;
}
